body {
    background-color: #f7ede2;
}

h1 {
    color: #f28482;

}

section {
    color: #84a59d;
}

button {
    background-color: #f5cac3;
}

#signup {
    background-color: #f28482;
}

button:hover {
    background-color: #f28482;
    text-decoration: solid;
}

#date:current {
    font-size: larger;
}

.tag {
    background-color: #f28482;
}

input [type="date"] {
    font-weight: 900;
}

.date {
    font-size: larger;
}

footer a {
    background-color: #f6bd60;
}