/* body {
    background-color: #f7ede2;
}

h1 {
    color: #f28482;

}

section {
    color: #84a59d;
}

button {
    background-color: #f5cac3;
}

#signup:hover {
    background-color: #f28482;
    width: 100px;
}

button:hover {
    background-color: #f28482;
    text-decoration: solid;
}

#date:current {
    font-size: larger;
}

.tag {
    background-color: #f28482;
}

input [type="date"] {
    font-weight: 900;
}

.date {
    font-size: larger;
}

footer a {
    background-color: #f6bd60;
}

h2 {
    color: #f8e9e7;
    background-color: #f284829f;
    width: 200px;
    text-align: center;
    padding: 7px 20px;
    margin: 30px;
}

#one {
    background-color: #f6bd60;
    width: 300px;
    border-color: #84a59d;
    border-width: 5px;
    border-style: groove;
    padding: 20px 40px 60px 80px;
}

#two {
    background-color: white;
    width: 300px;
    border-color: #f28482;
    border-width: 5px;
    border-style: ridge;
    border-radius: 25% 10%;
    margin-left: 40px;
}

#three {
    background-color: bisque;
    width: 300px;
    border-color: aquamarine;
    border-width: 20px;
    border-style: inset;
    border-radius: 13em/3em;
}

a:link {
    color: aqua;
}

section {
    width: 500px;
    height: 500px;
    background-color: aqua;
}*/

#transperancy {
    width: 100px;
    height: 100px;
    background-color: rgb(183, 0, 255, 0.7);
}

#opacity {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 200);
    opacity: 0.8;
}

#my1 {
    width: 100px;
    height: 100px;
    background-color: #84a59d;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    display: inline-block;
    margin: 0px 10px;
}

#my2 {
    width: 100px;
    height: 100px;
    background-color: #5c64bb;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    display: inline-block;
    margin: 0px 10px;
    position: sticky;
    top: 20px;
    box-shadow: 5px 5px 20px 5px #000;
}

#my3 {
    width: 100px;
    height: 100px;
    background-color: #84a59d;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    display: inline-block;
    margin: 0px 10px;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: maroon;
    box-shadow: 5px 5px 20px 5px #000;
}

.circle:hover {
    background-color: rebeccapurple;
    border-radius: 50%;
    transition: all 3s;
    margin-left: 500px;
}

section div {
    height: 100px;
    width: 100px;
    background-color: tan;
    margin: 20px 0;
    transition: margin-left 3s;
}

section:hover div {
    margin-left: 500px;
}

#click {
    height: 100px;
    width: 100px;
    background-color: mediumseagreen;
    margin: 500px;

}

#click:hover {
    transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
}